* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);

  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  color: #fff;
  min-height: 100vh;
  background-color: var(--violet);
}

img {
  display: block;
  max-width: 100%;
}

.page {
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
}

.page__wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.page__logo img {
  max-width: 13rem;
  padding: 3.6rem 0;
}

.page__img img {
  padding: 2rem 0 5.5rem 0;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
}

.page__heading,
.page__paragraph {
  text-align: center;
}

.page__heading {
  font-family: 'Poppins', sans-serif;
  font-size: 2.4rem;
  margin-bottom: 1.8rem;
}

.page__paragraph {
  margin-bottom: 2.3rem;
}

.page__btn {
  background-color: #fff;
  display: block;
  width: 19rem;
  margin: 0 auto;
  color: var(--violet);
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 0.8rem 0;
  font-size: 1.4rem;
  border-radius: 10rem;
  -webkit-box-shadow: 0px 3px 15px -5px #000000;
  box-shadow: 0px 3px 15px -7px #000000;
  margin-bottom: 2rem;
  text-decoration: none;
}

.page__btn:hover {
  background-color: var(--soft-magenta);
  color: #fff;
}

.page__social {
  display: flex;
  justify-content: center;
  padding: 4.5rem;
  list-style: none;
}

.page__icon + .page__icon {
  margin-left: 2rem;
}

.page__icon a {
  border: 0.05rem solid #fff;
  box-sizing: content-box;
  min-width: 2rem;
  padding: 0.5rem;
  color: #fff;
  display: block;
  text-align: center;
  border-radius: 10rem;
  cursor: pointer;
}

.page__icon a:hover {
  color: var(--soft-magenta);
  border: 0.05rem solid var(--soft-magenta);
}

@media (min-width: 1150px) {
  .page {
    background-image: url(./images/bg-desktop.svg);
    background-position: bottom left;
    background-size: contain;
  }

  .page__wrapper {
    max-width: 90%;
  }

  .page__logo img {
    max-width: 20rem;
  }

  .page__container {
    display: flex;
  }

  .page__img {
    flex: 1.5;
  }

  .page__img img {
    max-width: 92%;
    margin: 0;
    padding: 3rem 0 0 0;
  }

  .page__text {
    flex: 1;
    padding-top: 5%;
  }

  .page__heading {
    font-size: 3.8rem;
  }

  .page__heading,
  .page__paragraph {
    text-align: left;
  }

  .page__btn {
    margin: 0;
    width: 18rem;
    padding: 1.2rem 0;
  }

  .page__social {
    justify-content: end;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
}
